


.navbar-brand{
  color: #e8175d !important;
  font-weight: bold;
}



body {
     font-family:Arial, Sans-Serif;
     background-color: #121212 !important;
}
.clearfix:before, .clearfix:after{
     content: "";
     display: table;
}
.clearfix:after{
     clear: both;
}
a{
     color:#0067ab;
     text-decoration:none;
}
a:hover{
     text-decoration:underline;
}
.form{
     width: 300px;
     margin: 0 auto;
     display: inline-block;
    border: 1px solid #e8175d ;
    padding: 10px;
}


.wrapper{
  text-align: center;
  margin-top: 100px;

}
input[type='text'], input[type='email'],
input[type='password'] {
     width: 200px;
     border-radius: 2px;
     border: 1px solid #CCC;
     padding: 10px;

     font-size: 14px;
     margin-top: 10px;
     background-color: #363636 !important;
     color:  #e8175d !important;
     font-weight: bold;
}
input[type=submit] {
  background-color: #e8175d;
  color: #fff;
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(217, 83, 78, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
  padding: 10px;

}

input[type=submit]:hover{

  color: #FFF;
  background: #e8175d;
  border: 2px solid rgba(217, 83, 78, 0.75);
}
